body{



	  background-image:url("https://thumbs-prod.si-cdn.com/djz7f_pX8z0guq4fu-aT_HxWBy8=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/9d/f5/9df541d1-be62-4f69-bcbe-2fe59647b022/milkyway.jpeg");



	 }



    p{



	  font-family:"courier new";



	  font-weight:bold;



	  color : white;



	  text-align:center;



	 }



	h1 {



	  color:white;



	  font-family:"courier new";



	  font-size:400%



	  



	}



     .grid-container{


	  display:grid;



	  grid-template-rows:100px 100px 100px 100px 100px 100px;



	  grid-template-columns:100px 100px 100px 100px 100px 100px;



	  float:left;



	  margin:0px;



	 }





    h4{

        color:red;

        font-size:300%;

        margin:0px 0px 0px 0px;

        text-align:center;

}


	.para{



	 float : right;



	 margin:0px;



	}



     h3 {

        color:white; 

        text-align:center;

        font-family:courier

     }